# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# obsidian
/main.js
/styles.css
data.json
main.js.map
states.json
metadata.json

# 폴더
obsidian-i18n-resources
document
translations
backups
cache

更新日志.md


# macOS Finder(시스템 탐색기) 보기 상태 제외
.DS_Store



